*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   /* outline: 1px solid red;*/
}
html, body {
  overflow-x: hidden;
}

body, header, nav, main {
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root{
    --primary-color: #F8F9FA;
    --secondary-color: #0A192F;
}

.dark-theme {
    --primary-color: #0A192F;
    --secondary-color: #E0E0E0;
    /* --third-color: #b6b4b4;*/
}
    

body{
    font-family: inter, sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header{
    height: 10vh;
    width: 100%;
    margin: 1rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    letter-spacing: 0.1rem;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.148);
    padding: 0 2rem;
}
.logo{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: auto;
}

nav{
    border: 2px solid rgba(255, 255, 255, 0.148);
    padding: 0.25rem;
    border-radius: 4rem;
}

.projects{
    margin: 0  1.5rem;
}
nav a{
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    height: auto;
    font-size: 1.1em;
}
.homePage{
    background-color: #007BFF;
    border: 1px solid transparent;
    border-radius: 4em;
    padding: 0.15rem 0.5rem;
}

nav a:hover{
   background-color: #007BFF;
   border: 1px solid transparent;
   border-radius: 4em;
   padding: 0.15rem 0.5rem;
}

.bxs-sun{
    color: var(--primary-color);
    font-size: 1.5em;
    cursor: pointer;
    height: 2rem;
    position: relative;
    padding:  0 1rem; 
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    top: 5vh;
    position: relative;
    overflow: hidden;
}

.myName{
   max-width: 45vw;
   margin-left: 1.875rem;
}

.Mypicture{
    max-width: 50vw;
    max-height: 50vh;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.875rem;
    padding-right: 3rem;

} 
.picContainer{
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.875rem;
    padding-right: 3rem;    
}

.so-net{
        margin: 2rem;
        width: 100%;
}

.jobs{
    color: #007BFF;
    position: relative;
}
@keyframes animate{
    0%, 20%{
        left: 0;
    }
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}
.jobs::before{
    content: '|';
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    left: 0;
    animation: animate 4s steps(8) infinite;
}

/* ==============
12/11/2025 by Lyes
logo techno*/
.techno-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem 6rem;
}

.js, .gsap, .react, .html, .css{
    height: 6.25rem;
    cursor: pointer;
    filter: grayscale(100%);
}
.js:hover, .gsap:hover, .react:hover, .html:hover, .css:hover{
   transform: scale(1.2);
   transition: 0.5s ease;
   filter: grayscale(0%);
}
 .js{
        margin-right: 0.5rem;
    }
/*start nav-toggler*/
.nav-toggler{
    position: fixed;
    top: 2rem;
    right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    width: 4vw;
    border: none;
    outline: none;
    z-index: 1000;
}

.line{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 2px;
    width: 4vw;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1{
    transform: translateY(-10px);
}
.l3{
    transform: translateY(10px);
}

.nav-toggler.active .l1{
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2{
    opacity: 0;
}

.nav-toggler.active .l3{
    transform: translateY(0px) rotate(-135deg);
}
/*end nav-toggler*/
/*CV*/
.cv-button {
    display: inline;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
.cv-button:hover {
    background-color: #0056b3;
  }  
/*End CV*/

/*Social cons*/
a i {
    font-size: 24px;
    margin: 0 10px;
    color: #007BFF;
    transition: color 0.3s;
}

a i:hover {
    color: #0056b3;
}
/*End Social cons*/

/*MyPresentation*/
.MyPresentation{
    line-height: 2rem;
    word-spacing: 0.01rem;
    letter-spacing: 0.05rem;
    font-family: inter, 'sans serif';
    font-weight: 380;
    font-size: 17px;
    white-space: pre-line;
    position: relative;
    margin-bottom: 2rem;
}
/*End MyPresentation*/

/*===============
START RESPONSIVE
=================*/
@media (max-width: 884px){

    nav{
        position: fixed;
        z-index: 9999;
        right: 0;
        display: flex;
        bottom: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        height: 100vh;
        width: 30vw;
        margin-left: 15.62rem;
        transform: translateX(100%);
        backdrop-filter: blur(10px);
        background-color: var(--secondary-color);
        transition: transform 0.3s;
    }

    nav.active{
        transform: translate(0);
    }

    .nav-toggler{
        position: fixed;
        z-index: 9999;
        top: 2rem;
        right: 2.5rem;
        height: 30px;
    }

    .bxs-sun{
        position: relative;
        right: 20%;
    }

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: visible;
        width: 100%;
        max-width: 100vw;
        height: auto;
    }

    .myName{
      position: relative;
      width: 80%;
      overflow: visible;
      max-width: 100vw;
    }

    .Mypicture{
        object-fit: cover;
        object-position: 50%;
        overflow-y: hidden;
        border-radius: 50%;
       /* border: 3px solid  #007BFF;*/
    }

    .so-net{
       position: relative;
       left: 0;
    }

    .cv-button{
        position: relative;
        display: inline-block;
        margin: 0.5rem;
    
    }

    .techno-logos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 3rem 0.5rem;
        width: 100%;
        transform: translate(-3%, 5%);
        margin: 0 0 2rem 2rem;
    }
  .js, .gsap, .react, .html, .css{
        padding-bottom: 1rem;
    }
    .js{
        margin-right: 0.5rem;
    }
}

@media (min-width: 884px){
    .nav-toggler{
        display: none;
    }
}
/*END RESPONSIVE*/ 

